@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00d4ff;
  --background-dark: #050505;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

input::placeholder {
  color: #E0E0E0 !important;
  opacity: 1;
}
