@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #050505;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Placeholder color fix */
input::placeholder {
  color: #E0E0E0;
  opacity: 1;
}
